<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <mno-kpi
      icon="fa-users" bg-color="#E54661"
      description="Users"
      value="{{vm.users.kpi.total_count}}"
      mno-ui-sref="dashboard.customers"
      link-text="{{vm.users.kpi.new_month_count}} new this current month"
      loading="!vm.users.kpi"></mno-kpi>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <mno-kpi
      icon="fa-sitemap" bg-color="#FFA644"
      description="Organizations"
      value="{{vm.organizations.kpi.total_count}}"
      mno-ui-sref="dashboard.customers"
      link-text="{{vm.organizations.kpi.with_cc_count}} with a credit card"
      loading="!vm.organizations.kpi"></mno-kpi>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <mno-kpi
      icon="fa-file-text-o" bg-color="#998A2F"
      description="Last customer invoicing"
      unit="{{vm.invoices.lastInvoicingAmount.currency}}" value="{{vm.invoices.lastInvoicingAmount.amount}}"
      mno-ui-sref="dashboard.finance"
      loading="!vm.invoices.lastInvoicingAmount"></mno-kpi>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <mno-kpi
      icon="fa-money" bg-color="#2C594F"
      description="Still to be paid"
      unit="{{vm.invoices.outstandingAmount.currency}}" value="{{vm.invoices.outstandingAmount.amount}}"
      mno-ui-sref="dashboard.finance"
      loading="!vm.invoices.outstandingAmount"></mno-kpi>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mnoe-users-list view="last"></mnoe-users-list>
  </div>
  <div class="col-md-6">
    <mnoe-organizations-list view="last"></mnoe-organizations-list>
  </div>
</div>
