<mno-admin hide-footer="true">

  <mno-admin-header>
    <div class="user pull-right">
      <div class="item" uib-dropdown>
        <a href="#" uib-dropdown-toggle>
          <img src="assets/images/avatar.jpg">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="link">
            <a href="/dashboard/">
              Exit
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="meta">
      <div class="breadcrumb-links title">
        <div ncy-breadcrumb></div>
      </div>
    </div>
  </mno-admin-header>

  <!-- Admin navigation -->
  <mno-admin-nav>
    <li class="sidebar-title"><span>NAVIGATION</span></li>

    <li class="sidebar-list">
      <a ui-sref="dashboard.home"  ui-sref-active="active">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="dashboard.finance" ui-sref-active="active">Finance <span class="menu-icon fa fa-money"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="dashboard.customers" ui-sref-active="active">Customers <span class="menu-icon fa fa-users"></span></a>
    </li>
    <li class="sidebar-list" ng-show="main.staffPageAuthorized.indexOf(main.user.admin_role)!=-1">
      <a ui-sref="dashboard.staff" ui-sref-active="active">Staff <span class="menu-icon fa fa-wrench"></span></a>
    </li>
  </mno-admin-nav>
  <!-- End navigation -->

  <mno-admin-content>
    <div ui-view></div>
  </mno-admin-content>

</mno-admin>
